<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/my.css">
    <script src="js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<!--		导航条-->
<div th:insert="navigation :: nav"></div>
<!--		滚动公告-->
<div th:if="${session.message}!=null">
    <p th:text="${session.message}"></p>
</div>
<!--		内容-->
<div class="container-fluid main">
    <div class="row">
        <div class="registerBox col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
            <form class="form-horizontal" th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">用户名</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密码</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><button type="submit" class="btn btn-default">登录</button></div>
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">刷脸登录</button>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><button type="reset" class="btn btn-default">重置</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--			底部-版权信息-->






<!--错误提示模态框-->
<div class="modal fade" id="errorModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    登录失败
                </h4>
            </div>
            <div class="modal-body">
                <span id="msgSpan"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--模态框-->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">录入人脸信息</h4>
            </div>
            <div class="modal-body container" style="width: 860px">

                <div class="row">
                    <!--h5视频区-->
                    <div style="border: 1px solid;width: 420px;float: left">
                        <div id="div_video" >
                            <video id="myVideo" width="300px" height="300px" autoplay="autoplay"></video></br>
                            <button class="btn btn-default" id="control" onclick="requestopen()">打开摄像头</button>
                        </div>
                    </div>
                    <!--拍照-->
                    <div style="border: 1px solid;width: 420px;float: right">
                        <div id="div_canvas" >
                            <canvas id="canvas" width="300px" height="300px"></canvas>
                            <br>
                            <button class="btn btn-default" id="snap" onclick="snap()">抓拍登录</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--隐藏域存储项目根目录-->
<a hidden th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} " id="contextPath"></a>
<script>
    //获取请求参数
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }

    window.onload = function(){
        //查看是否支持摄像头
        hasNavigator();
        //查看是否账号密码错误导致的跳转
        var msg = getUrlParam("error");
        if("userLogin"==msg){
            //打开错误提示模态框
            $('#msgSpan').html("用户名或密码错误");
            $('#errorModel').modal('show');
        }
    }
    function hasNavigator() {
        //要获取摄像头，首先必须要有navigator对象，界面打开的时候就要初始化
        navigator.getUserMedia
        || (navigator.getUserMedia = navigator.mozGetUserMedia
            || navigator.webkitGetUserMedia
            || navigator.msGetUserMedia);
        if (navigator.getUserMedia) {
            console.log("浏览器兼容，可以打开摄像头");
        } else {
            console.log('your browser not support getUserMedia');
            alert("你的环境不支持打开摄像头");
        }
    }

    //			获取视频显示区域,控制按钮，流对象
    var video = document.getElementById("myVideo");
    var control = document.getElementById("control");
    var localStream = null;


    //请求打开
    function requestopen(){
        if(localStream == null){
            //开启摄像头
            open();
        }else{
            //关闭摄像头
            close();
        }
    }
    //打开摄像头
    function open() {
        //设置打开参数，只开启video
        let constraints = {
            video: {width: 300, height: 300},
            audio: false
        };
        let promise = navigator.mediaDevices.getUserMedia(constraints);
        //打开成功，打开失败的回调
        promise.then(function (MediaStream) {
            control.innerText="关闭摄像头";
            console.log("开启摄像头成功");
            localStream = MediaStream;
            video.srcObject = MediaStream;
            video.play();
        }).catch(function (PermissionDeniedError) {
            console.log(PermissionDeniedError);
        })
    }
    //关闭摄像头
    function close(){
        localStream.getVideoTracks()[0].stop();
        video.srcObject = null;
        localStream = null;
        console.log("关闭摄像头成功");
        control.innerText="打开摄像头";
    }


    //------------------------------------------------------------------------------------------
    //拍照,并将图片编码为base64放入隐藏域
    var inputImg;
    var canvas = document.getElementById("canvas");
    //从隐藏域中获取项目根目录
    var contextPath = $('#contextPath').attr('href');
    function snap(){
        var ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, 300, 300,0,0,300,300);

        var codedata = canvas.toDataURL('image/jpg');//转base64
        console.log(codedata.substr(22));
        inputImg = codedata.substr(22);//截取图片信息

        console.log(contextPath);
        //将inputImg数据传入后端调用百度AI接口
        $.ajax({
            "type":"post",
            "url":contextPath+"login",
            "datatype":"text",
            "data":{"baseImg":inputImg},
            "success":function (msg) {
                if("ok"==msg){
                    console.log("调用成功");
                    window.location.replace(contextPath+"index");
                }
                if("baiduError"==msg){
                    alert("人脸库不存在该用户");
                }
            },
            "error" : function(e) {
                console.log("ajax链接失败");
            }
        });
    }

</script>
</body>
</html>