<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/my.css">
    <link rel="stylesheet" href="css/editormd.preview.min.css">
    <script src="js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="js/editormd.min.js"></script>
    <script src="js/lib/marked.min.js"></script>
    <script src="js/lib/prettify.min.js"></script>

<!--    返回顶部样式-->
    <style>
        #myBtn {
            display: none;
            margin-right: 0px;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: #7aa6da;
            color: #4d4d4d;
            cursor: pointer;
            padding: 15px;
            border-radius: 10px;
        }

        #myBtn:hover {
            background-color: #FFFFFF;
        }
    </style>

</head>
<body>
<!--		导航条-->
<div th:insert="navigation :: nav"></div>
<!--		滚动公告-->
<div th:if="${session.message}!=null">
    <p th:text="${session.message}"></p>
</div>
<!--		主题内容-->
<div class="container-fluid main">
    <div class="row">
        <!--            栏目头-->
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <!--            巨幕题目-->
            <div class="page-header">
                <h1 th:text="${article.title}" class="text-center"></h1>
                <p style="color: #999999;font-size: 16px" class="text-center">
                    作者:<span style="border-right: #999999 1px solid;padding-right: 5px;color: #2aabd2"
                             th:text="${user.name}"></span>
                    阅读数:<span style="border-right: #999999 1px solid;padding-right: 5px"
                              th:text="${article.viewCount}"></span>
                    发布时间:<span style="border-right: #999999 1px solid;padding-right: 5px"
                               th:text="${#dates.format(article.gmtCreat, 'yyyy-MM-dd')}"></span>
                    最后修改时间:<span th:text="${#dates.format(article.gmtModified, 'yyyy-MM-dd')}"></span>
                </p>
            </div>
            <hr>
<!--            富文本编辑器-->
            <div id="markdown-view">
                <textarea style="display: none" th:text="${article.description}"></textarea>
            </div>
            <script type="text/javascript">
                $(function () {
                    editormd.markdownToHTML("markdown-view",{})
                })
            </script>
            <hr>
            <div>
                <p>
                    作者:<span style="border-right: #999999 1px solid;padding-right: 5px" th:text="${user.name}"></span>
                    标签:<span style="border-right: #999999 1px solid;padding-right: 5px;color: #2aabd2" th:text="${article.tag}"></span>
                    评论:<span th:text="${article.commentCount}" style="color: #2aabd2"></span>
                    <a th:href="@{/editArticle?aid=}+${article.id}" th:if="${isEditor==true}">
                        <button type="button" class="btn btn-default btn-sm">修改</button>
                    </a>
                    <span style="float: right;cursor: pointer">
                        喜欢
                        <img th:if="${isLike==true}" src="img/like.png" alt="喜欢" width="25px" height="25px">
                        <img width="25px" height="25px" th:if="${isLike!=true}" src="img/unlike.png" alt="不喜欢" onclick="like()" id="like">
                        <span th:text="${article.likeCount}"></span>
                    </span>
                    <span style="float: right;margin-right: 100px;cursor: pointer" onclick="openComment()">
                        评论
                        <img src="img/comment.png" alt="评论" width="25px" height="25px">
                        <span th:text="${article.commentCount}"></span>
                    </span>
                </p>
            </div>
            <hr>
<!--            评论-->
            <div id="comment">
<!--                    评论输入框-->
                <form id="commentForm" style="margin-bottom: 50px" hidden th:action="@{/saveComment}">
                    <input type="text" hidden name="aid" th:value="${article.id}"/>
                    <div>
                        <img class="media-object img-rounded listimg" th:src="${session.user.avatarUrl !='' && session.user.avatarUrl !=null} ? ${session.user.avatarUrl}:'img/default.jpg'" alt="头像" style="float: left"/>
                        <div style="margin-left: 100px">
                            <p th:text="${session.user.name}">name</p>
                            现在时间：<p th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd hh:mm:ss')}"></p>
                        </div>
                    </div>

                    <textarea class="form-control" rows="3" name="contain">11111</textarea>
                    <button type="submit" class="btn btn-success" style="float: right">评论</button>
                </form>


<!--                评论列表-->
                <div th:if="${commentList != null}" class="media articleDiv" th:each="item : ${commentList.list}">

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded listimg" th:src="${item.avatarUrl !='' && item.avatarUrl !=null} ? ${item.avatarUrl}:'img/default.jpg'" alt="头像">
                            </a>
                            <span style="margin-left: 10px" th:text="${item.name}"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <span th:text="${item.contain}"></span>
                            </h4>
                            <div class="listtext">
                                <div style="margin-top: 30px">
                                <span>
                                    喜欢
                                    <img th:if="${item.isLike==true}" src="img/like.png" alt="喜欢" width="25px" height="25px">
                                    <img width="25px" height="25px" th:if="${item.isLike!=true}" src="img/unlike.png" alt="不喜欢" onclick="likeComment(this)" th:data="${item.cid}" style="cursor: pointer">
                                    <span th:text="${item.likeCount}">5</span>
                                </span>
                                    <span th:text="${item.commentTime}" style="float: right"></span>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>

                </div>

<!--                分页-->

            </div>

        </div>

        <!--            友情提示-->
        <div th:insert="rightPage :: page"></div>
    </div>

    <button onclick="topFunction()" id="myBtn" title="回顶部">返回顶部</button>
</div>

<!--			底部-版权信息-->


<!--模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    用户未登录
                </h4>
            </div>
            <div class="modal-body" th:text="${error}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script th:inline="javascript">
    $(function () {
        var msg = [[${error}]];
        if (msg != "" && msg != null) {
            $('#myModal').modal('show');
        }
    })
</script>

<!--隐藏域存储项目根目录-->
<a hidden th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} " id="contextPath"></a>
<input hidden id="uid" th:value="${session.user.id}">
<input hidden id="aid" th:value="${article.id}">
<script>
    // 当网页向下滑动 20px 出现"返回顶部" 按钮
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // 点击按钮，返回顶部
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    //打开评论
    function openComment() {
        if ($("#commentForm").is(":hidden")){
            $("#commentForm").slideDown("normal");
        }else{
            $("#commentForm").hide("fast");
        }
    }

    var contextPath = $('#contextPath').attr('href');
    var uid = $("#uid").attr('value');
    var aid = $("#aid").attr('value');
    var likeImg = document.getElementById("like");
    //喜欢文章
    function like() {
        if($(likeImg).attr("src")!="img/like.png"){
            $.ajax({
                type: "get",
                url: contextPath + "doLike?uid=" + uid + "&aid=" + aid,
                success: function (msg) {
                    if (msg == 'true') {
                        likeImg.src = "img/like.png";
                        count = $(likeImg).next().text();
                        $(likeImg).next().text(Number(count)+1);
                    } else {
                        alert('点赞失败');
                    }
                },
                error: function (msg) {
                    alert("调用失败");
                }
            })
        }else{
            alert("你已经点过赞啦！");
        }
    }
    //喜欢评论
    function likeComment(comment) {
        if($(comment).attr("src")!="img/like.png"){
            var cid = $(comment).attr("data");
            $.ajax({
                type: "get",
                url: contextPath + "doCommentLike?uid=" + uid + "&cid=" + cid+"&aid="+aid,
                success: function (msg) {
                    debugger;
                    if (msg == 'true') {
                        comment.src = "img/like.png";
                        count = $(comment).next().text();
                        $(comment).next().text(Number(count)+1);
                    } else {
                        alert('点赞失败');
                    }
                },
                error: function (msg) {
                    alert("调用失败");
                }
            })
        }else{
            alert("你已经点过赞啦！");
        }
    }
</script>
</body>
</html>