<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/my.css">
    <script src="js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<!--		导航条-->
<div th:insert="navigation :: nav"></div>
<!--		滚动公告-->
<div th:if="${session.message}!=null">
    <p th:text="${session.message}"></p>
</div>
<!--		主题内容-->
<div class="container-fluid main">
    <div class="row">
        <!--            详情页-->
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <table class="table table-hover" th:object="${session.user}">
                <tr>
                    <th>个人信息</th>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td th:text="*{name}"></td>
                    <td><a href="javascript:getUpdate('name')">修改</a></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td th:text="*{password}"></td>
                    <td><a href="javascript:getUpdate('password')">修改</a></td>
                </tr>
                <tr>
                    <td>年龄</td>
                    <td th:text="*{age}"></td>
                    <td><a href="javascript:getUpdate('age')">修改</a></td>
                </tr>
                <tr>
                    <td>性别</td>
                    <td th:text="*{gender}"></td>
                    <td><a href="javascript:getUpdate('gender')">修改</a></td>
                </tr>
                <tr>
                    <td>邮箱地址</td>
                    <td th:text="*{email}"></td>
                    <td><a href="javascript:getUpdate('email')">修改</a></td>
                </tr>
                <tr>
                    <td>人脸信息</td>
                    <td th:text="*{face != null && face!=''} ? '存在':'无信息'"></td>
                    <td><a th:text="*{face != null && face!=''} ? '更新':'添加'" href="javascript:updateFace()"></a></td>
                </tr>
                <tr>
                    <td>头像</td>
                    <td>
                        <img th:src="${session.user.AvatarUrl !='' && session.user.AvatarUrl !=null} ? ${session.user.AvatarUrl} :'img/default.jpg'" class="img-circle" width="25px" height="25px">
                    </td>
                    <td><a href="javascript:getUpdate('avatarUrl')">修改</a></td>
                </tr>
            </table>
        </div>
        <!--            功能栏-->
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 col-md-offset-1" style="margin-top: 50px">
            <a href="@{/myinfo}" class="list-group-item active">
                个人信息
            </a>
            <a th:href="@{/myresponse}" class="list-group-item">我的回复</a>
            <a th:href="@{/myarticle}" class="list-group-item">我的发帖</a>
        </div>
    </div>
</div>

<!--			底部-版权信息-->
<div th:insert="bottom :: page"></div>


<!--隐藏域存储项目根目录-->
<a hidden th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} " id="contextPath"></a>
<script>
    var contextPath = $('#contextPath').attr('href');
    function getUpdate(name) {
        var value = prompt("输入修改的值：");
        if (value == null || value == "") {
            return;
        } else {
            console.log(name,value);
        }
        console.log(contextPath+"update?"+"key="+name+"&value="+value);
        $.ajax({
            type:"get",
            url:contextPath+"update?"+"key="+name+"&value="+value,
            success:function (msg) {
                if("ok"==msg){
                    console.log("更新成功");
                    window.location.replace(contextPath+"/myinfo?update=true");
                }
            },
            error: function(e) {
                console.log("ajax链接失败");
            }
        });
    }


</script>

</body>
</html>
