<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我的消息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/my.css">
    <link rel="stylesheet" href="css/liMarquee.css">
    <script src="js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="js/jquery.liMarquee.js"></script>

</head>
<body>
<!--		导航条-->
<div th:insert="navigation :: nav"></div>
<!--		滚动公告-->
<div class="str str_wrap notice">
    <p id="notice" ></p>
</div>
<script type="text/javascript">
    //每三秒调用一次
    $(function () {
        $('.str').liMarquee();
        setInterval(updateNotice,3000);
    })

    function updateNotice() {
        console.log("更新公告");
        $.ajax({
            url:ctx+"updateNotice",
            type:"get",
            dataType:"json",
            success:function (data) {
                $("#notice").text(data.contain);
            },
            error:function () {
                console.log("更新公告失败")
            }
        })
    }
</script>
<!--		主题内容-->
<div class="container-fluid main">
    <div class="row">
        <!--            栏目头-->
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <h2>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <span>我的消息</span>
            </h2>
            <hr>
            <!--			回复列表-->
            <div th:if="${pageInfo != null}" class="media articleDiv" th:each="item : ${pageInfo.list}">
                <div class="media-left">
                    <a th:href="@{/lookArticle?aid=}+${item.id}">
                        <img class="media-object img-rounded listimg" th:src="${session.user.avatarUrl !='' && session.user.avatarUrl !=null} ? ${session.user.avatarUrl}:'img/default.jpg'" alt="头像">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" style="color: #2aabd2"><span th:text="${item.title}"></span></h4>
                    &nbsp;&nbsp;<span th:text="${item.description}"></span>
                    <div class="listtext">
                        <a class="btn btn-default" href="#" role="button"><span th:text="${session.user.name}"></span></a>
                        <span style="color: #999999">阅读·<span th:text="${item.viewCount}"></span> &nbsp;&nbsp;评论·<span th:text="${item.commentCount}"></span> &nbsp;&nbsp;点赞·<span th:text="${item.likeCount}"></span> &nbsp;&nbsp;<span th:text="${#dates.format(item.gmtCreat,'yyyy MM dd')}"></span></span>
                    </div>
                </div>
            </div>
            <!--			分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!--					当前页面是第一页-->
                    <li th:if="${pageInfo.pageNum == 1}" class="disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfo.pageNum != 1}">
                        <a th:href="'myarticle?pageNumber='+${pageInfo.prePage}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <!--					遍历标签-->
                    <li th:each="nav : ${pageInfo.navigatepageNums}" th:classappend="${pageInfo.pageNum == nav} ? 'active' : ''">
                        <!--当前页面是所在页面-->
                        <a class="active" th:href="'myarticle?pageNumber='+${nav}" th:text="${nav}"></a>
                    </li>

                    <!--					不是最后一页-->
                    <li th:if="${pageInfo.pageNum != pageInfo.pages}">
                        <a th:href="'myarticle?pageNumber='+${pageInfo.nextPage}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfo.pageNum == pageInfo.pages}" class="disabled" aria-label="Next">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <!--            功能栏-->
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 col-md-offset-1" style="margin-top: 50px">
            <a th:href="@{/myinfo}" class="list-group-item">
                个人信息
            </a>
            <a th:href="@{/myresponse}" class="list-group-item active">我的回复</a>
            <a th:href="@{/myarticle}" class="list-group-item">我的发帖</a>
        </div>
    </div>
</div>

<!--			底部-版权信息-->

<div th:insert="bottom :: page"></div>







<!--模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    用户未登录
                </h4>
            </div>
            <div class="modal-body" th:text="${error}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="noticeModalLabel" aria-hidden="true">
    <form th:action="@{/publishNotice}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="noticeModalLabel">
                        发布通知公告
                    </h4>
                </div>
                <div class="modal-body">
                    <!--					通知内容-->
                    <input hidden th:value="${session.user.id}" name="uid">
                    <div class="col-sm-10">
                        <textarea rows="3" name="contain" class="form-control" id="inputContain" placeholder="输入公告内容"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="doNotice()" class="btn btn-success" data-dismiss="modal">发布</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->
<!--隐藏域存储项目根目录-->
<a hidden th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} " id="contextPath"></a>

<script th:inline="javascript">
    var ctx = $("#contextPath").attr("href");
    $(function(){
        var msg = [[${error}]];
        if(msg!=""&&msg!=null){
            $('#myModal').modal('show');
        }
    })

    function doNotice() {
        $.ajax({
            type:"post",
            url:ctx+"publishNotice",
            data:$("#noticeForm").serialize(),
            dataType:'json',
            success:function (data) {
                $("#notice").text(data.contain);
            },
            error:function () {
                alert("发布失败");
            }
        });
    }

    function publishNotice() {
        $("#noticeModal").modal('show');
    }
</script>
</body>
</html>