<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 配置持久层接口的映射文件 -->
<mapper namespace="com.csj.mapper.UserMapper">
    <!--配置方法-->
    <select id="findAll" resultType="com.csj.domain.User">
        select * from user
    </select>

    <insert id="insert" parameterType="com.csj.domain.User">
        <selectKey keyProperty="id" keyColumn="id" resultType="int">
            select last_insert_id()
        </selectKey>
        insert into user(name,password,age,gender,email,token,avatar_url) values (#{name},#{password},#{age},#{gender},#{email},#{token},#{avatarUrl})
    </insert>

    <resultMap id="userMap" type="com.csj.domain.User">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="password" column="password"></result>
        <result property="age" column="age"></result>
        <result property="email" column="email"></result>
        <result property="token" column="token"></result>
        <result property="avatarUrl" column="avatar_url"></result>
    </resultMap>
    <select id="findByToken" parameterType="String" resultMap="userMap">
        select * from user where token = #{token}
    </select>

    <select id="findByName" parameterType="String" resultType="com.csj.domain.User">
        select * from user where name = #{name}
    </select>

    <select id="findById" parameterType="Integer" resultType="com.csj.domain.User">
        select * from user where id = #{id}
    </select>

    <select id="findByNamePass" parameterType="String" resultType="com.csj.domain.User">
        select * from user where name = #{name} and password = #{password}
    </select>
</mapper>