<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 配置持久层接口的映射文件 -->
<mapper namespace="com.csj.mapper.UserMapper">
    <!--配置方法-->
    <select id="findAll" resultType="com.csj.domain.User">
        select * from user
    </select>

    <insert id="insert" parameterType="com.csj.domain.User">
        insert into user(name,password,age,email) values (#{name},#{password},#{age},#{email})
    </insert>

</mapper>